-----BEGIN CERTIFICATE-----
MIIEEjCCAnqgAwIBAgIQL1aZ4Jshg7xs+iL6p75uSzANBgkqhkiG9w0BAQsFADBf
MR4wHAYDVQQKExVta2NlcnQgZGV2ZWxvcG1lbnQgQ0ExGjAYBgNVBAsMEUFSWUFC
UFxNUzFAYXJ5YWJwMSEwHwYDVQQDDBhta2NlcnQgQVJZQUJQXE1TMUBhcnlhYnAw
HhcNMjMxMDI0MDMxMTUwWhcNMjYwMTI0MDMxMTUwWjBFMScwJQYDVQQKEx5ta2Nl
cnQgZGV2ZWxvcG1lbnQgY2VydGlmaWNhdGUxGjAYBgNVBAsMEUFSWUFCUFxNUzFA
YXJ5YWJwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvuQDBFNmlwLT
JukaFzn1NiuCRBXRx/OgI/sYabTx7sa07hlHz3emKQ4qqvlJKOwy/8pjmp09kjgN
vJDSVVvOh8+qG6dzq42ynuFa6MEp6qoQmDkxV+8scFsiLXTNtR6UbnGndLzK2l/1
1RSZjO2bu+9IddiHsx54pQiyZ3Y7cRYUDlwQDjI3WXP9QdQlpt9O4S5a3Q/bJpHQ
cixT13y+LBui1pXEZsgKk0s7k8qSvEgRBcHCiI/hCWkpiQY1F5/xxZAKa1wQqJTY
3cQ8lKklqALSdyYJijgithYHqQog8t+ssJNHKR62m6pJ0XJAN/Ze7B8UxSIS4BnG
CJzEJRjjCQIDAQABo2QwYjAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYB
BQUHAwEwHwYDVR0jBBgwFoAUTuNyk8IV+CSPeaYLf1k+xftPiowwGgYDVR0RBBMw
EYIJbG9jYWxob3N0hwR/AAABMA0GCSqGSIb3DQEBCwUAA4IBgQBI/qgXs8CChyMt
YCciS2Y3SktGMaFJLn9L9NPAHVkG6lSVAoLKLwzuJlr/lDzjDg4EDPkx4rklU4uT
tIVGc4t95EDn/XXM+RjgoPWR2WLTI/+lMS9eE6fWz+LZUW3Xq4kTucsrRKqVBczn
/Zp3rTPUwO71qNHj5AbpYIISFMuxcOoufGWIw7zmoTvxZYMJBK0opWXyXvyyHZ0P
KRkMOLIYtOQt7jkvvmxBmA4X0+yzkDgBYu1RG3ybFPm7V0qqE8NkZDwEfnWLNS6J
D0CIZqxIN2Z7chsROORgaALV7CqQCmDnihjqt7EgOnP5VxXQ4r8UNrdVeDxzX2tz
Ntt+zQzhak6HLwtTTpGacm3ZG9kB7PqwPho2m22Eb7w/qB+6/p7Zg74YJ13r5FTv
Yn+PaP6VKLvKdVpaB0NtF/QVLEyKgTSAT9BAFSNXx9fKnzRlpt1tgg5c7eVxykVV
3RU8A1nPmmjKrBBpE5MmHSWbBXtxp1ifSrSUXE8OtJc1qi/8nlA=
-----END CERTIFICATE-----
